.featuredSection1 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.featuredSection1 {
    display: flex;
    max-width: 1100px;
    justify-content: space-around;
    margin: 3em auto 5em;
    padding: 0em 1em;
}

.featuredSection1 img {
    max-width: 25em;
}
.middle_right_join {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.featuredSection1__right {
    max-width: 15em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.1em;
    justify-content: center;
    flex: 1;
}
.featuredSection1__left {
    max-width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featuredSection1__left h2{
    font-family: Arial,
    Helvetica,
    sans-serif;
    letter-spacing: 1.5px;
    font-size: 3rem;
    font-weight: 500;
    margin: 0.2em 0em;
}

.featuredSection1__right h5{
    font-family: Arial,
    Helvetica,
    sans-serif;
}

.featuredSection1__right span {
    text-decoration: underline;
}

.featuredSection1__right p {
    font-size: 0.95em;
}

@media only screen and (max-width: 850px) {
    .middle_right_join {
    flex-direction: column;
    width: auto;
    }
    .featuredSection1{
        justify-content: center;
        gap: 2em
    }
    .featuredSection1 img {
        max-width: 17em;
    }
    .featuredSection1__right {
        gap: 3em;
    }

    .featuredSection1__left h2{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .featuredSection1 {
        flex-direction: column;
        align-items: center;
    }
    .featuredSection1 img {
        max-width: 22em
    }
    .featuredSection1__right{
        max-width: 20em;;
    }
    .middle_right_join {
        gap: 1.5em;
    }
    
}